<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="_nav_menu">

    <label>Menu -> </label>
    <ul>
        <li><a th:href="@{/users/registration}">| Registration |</a></li>
        <!--{/logout} передается в config для разлогирования-->
        <li><a sec:authorize="hasAnyAuthority('ADMIN','MANAGER')"><a th:href="@{/users/get/all}">| Show all users |</a></a>
        </li>
        <li><a sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/users/new}">| Add user |</a></a></li>
        <li> <a sec:authorize="hasAnyAuthority('ADMIN','MANAGER')"><a th:href="@{/products/add/form}">| Add products form |</a></a></li>
        <li><a th:href="@{/products}">All products</a></li>
        <li><a href="#" sec:authorize="isAuthenticated()"><a th:href="@{/buckets/get}">| Bucket |</a></a></li>
        <ul>
            <!--    <a th:href="@{/delete/users}">| Delete user |</a>-->
            <!--    <a th:href="@{/change/users}">| Change user |</a>-->

            <div sec:authorize="isAuthenticated()">
                <img src="../../static/css/img/admin.png" align="left">
                <div>Hello: <a th:href="@{/users/update}"><span sec:authentication="principal.username">User name</span></a></div>
                <div><a th:href="@{/logout}">Log out</a></div>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <div> Hello: Unknown.Please <a th:href="@{/login}"> | Log in |</a></div>
            </div>
        </ul>
</div>


</body>
</html>