<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="_nav_menu">

    <ul>
        <li><a sec:authorize="hasAnyAuthority('ADMIN','MANAGER')" th:href="@{/users/get/all}">&rArr;Show all users</a></li>
        <li><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users/new}">&#10070;Add user</a></li>
        <li><a sec:authorize="hasAnyAuthority('ADMIN','MANAGER')" th:href="@{/products/add/form}">&#9776;Add products</a></li>

        <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="logout_right">&#10008; Log out </a></li>
        <li><a sec:authorize="!isAuthenticated()" th:href="@{/users/registration}">&#9998;Registration</a></li>
        <li><a href="#" sec:authorize="isAuthenticated()" th:href="@{/users/update}"   sec:authentication="principal.username" class="my_account">Hello: &#10155; User name </a></li>
        <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="my_account">&#10155;Please: Log in </a></li>

        <li ><a th:href="@{/}">&#10066;Home</a></li>
        <li><a th:href="@{/products/get/products}">&#10066;All products</a></li>
        <li><a th:href="@{/products/get/laptops}">&#10066;Laptops</a></li>
        <li><a th:href="@{/products/get/phones}">&#10066;Phones</a></li>
        <li><a th:href="@{/products/get/cameras}">&#10066;Cameras</a></li>
        <li><a th:href="@{/products/get/tablets}">&#10066;Tablets</a></li>
        <li><a th:href="@{/products/get/watches}">&#10066;Watches</a></li>
<!--        <li><a th:href="@{/products/get/accessories}">&#10066;Accessories</a></li>-->
    </ul>
</div>


</body>
</html>