<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up for discounts</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<!-- NEW DISCOUNTS -->
<!--<div id="newsletter" class="section">-->
    <!-- container -->
    <div class="newsletter" >
        <p>Sign Up for the <strong>New Discounts</strong></p>
        <form>
            <input  class="input" type="email" placeholder="    Enter Your Email" style="display: inline-block"/>
            <button type="submit" class="newsletter-btn" style="display: inline-block;float: right"> Subscribe</button>
        </form>
    </div>
<!--</div>-->
</body>
</html>