*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/**=================================================
ALL THE IMAGE
=================================================*/
img:hover{
    opacity: 1;
}

img{
    opacity: 0.7;
}
/** ==============================================
    HEADER
===================================================*/
#top-header{

    width: 100%;
    height: 3vh;

}



.container{
    display: -ms-flexbox;

}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5b5a5a;
}

li {
    float:left ;
}
.my_account{
    position: absolute;
    top: 0;
    right: 2vw;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
    color: red;
}


.header-links pull-right{
    position: relative;
    left: 2vw;
}
.header-links pull-left{
    position: relative;
    right: 2vw;
}
.header-search{
    margin-bottom: 0.2%;
    display: flex;
    justify-content: center;
    align-items: center;

}


/**=============================================
NAVIGATION
================================================*/


.nav_nav{
    display: -ms-flexbox;

}

.active{
     padding-left: 35.7%;;
}


/**=================================
 HEADER BUCKET
=====================================*/

.dropdown-toggle{
    position: absolute;
    right: 2%;
    top: 10%;
    text-align: center;
}

.div_img_hotdeal{
    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2.2%;

}
#icon_shop{
    display: inline-block;
    position: absolute;
    top: 7vh;


}
hr{
    margin-bottom: 0.2%;
}

/**==============================================
HEADER SEARCH
===============================================*/
.input_search {
    border: 2px solid black; /**цвет рамки*/
    background: #ffffff !important; /* желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
    /* outline: none; удаляет обводку в браузерах хром(желтая) и сафари(синяя) */
    height: 5vh; /* высота на свое усмотрение*/
    width: 25vw; /*// ширина на свое усмотрение*/
    color: black; /*//цвет шрифта в обычном состоянии*/
    font-size: 11px; /*// Размер шрифта*/
    font-family: Tahoma; /*// Стиль шрифта*/
}
.search-btn{

    height: 5vh;
    width: 10vw;
    border-radius: 0cm 10cm 10cm 0;
    background-color: rgb(174, 2, 2);
    color: white;
}
.input-select{
    border: 2px solid black;
    text-align: center;
    height: 5vh;
    width: 10vw;
    border-radius: 10cm 0 0 10cm;


}
.search-btn:hover{
    background-color: red;
}

/**====================================================
WEATHER
=====================================================*/
.div_weather{
    display: none;
    padding-top: 0.2%;
    flex-basis: 120px;
}
