*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/*===================================================================
header
=====================================================================*/
header, main, aside, footer{
    padding:25px 25px;
    border:1px solid #000;
    border-radius:14px;
    color:#fff;
}

header{
    grid-area: header;
    height:200px;
    background-color:rgb(202, 228, 219);

}


.div_header{
    display: block;
    height: 10%;
    width: 35%;

}

/*===================================================================
authorization
=====================================================================*/

.div_autorization{

    display: block;

    align-self: center;




}







/*===================================================================
main
=====================================================================*/
main{
    grid-area: main;
    height:600px;
    background-image:url(../img/Apple-Logo-1.jpg);
}


/*===================================================================
aside
=====================================================================*/
aside{
    grid-area: sidebar;
    height:600px;
    background-color:#d8dcce;
}

footer{
    grid-area: footer;
    height:150px;
    background-color:#bed2eb;
}

#wrap{
    display:grid;
    grid-template-areas: "header header header header header header header header header header header header"
      "main main main main main main main main main sidebar sidebar sidebar"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-gap:15px;
}
#show_map{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
    background-color: rgb(50, 51, 51);
}

#h1{
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3em;
}

address{
    color: #000;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

#map{
    display: block;
    width: 100%;
}
h3{
    font-size:1.5em;

}
/*=========================================================
all buttons
===========================================================*/
#_but {

    border-radius: 8cm;
    width: 8vw;
    height: 4vh;
}

#_but:hover{
    border-bottom-color: crimson;
    background-color: #f3919f;

}

/*=========================================================
all forms
===========================================================*/

#_form{
    margin-left: 2px;
}


@media (max-width:991px){
    #wrap{
        display:grid;
        grid-template-areas: "header header header header header header header header header header header header"
      "main main main main main main main sidebar sidebar sidebar sidebar sidebar"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
        grid-gap:10px;
    }
}


@media (max-width:767px){
    #wrap{
        display:grid;
        grid-template-areas: "header header header header header header header header header header header header"
      "main main main main main main main main main main main main"
      "sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
        grid-gap:10px;
    }
}

