<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add new user form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        .div_form{margin: 10em 20em;}
        .but_login{border-radius: 10%;height: 3em; width: 6em;}
    </style>
</head>
<body>

<form th:action="@{/users/new}" th:object="${user}" method="post">
<div class="div_form">
        <h1 id="h1_add_user">Add new user - form</h1>
    <br/>
    <div class="form-floating mb-3">
        <input type="text" name="username" class="form-control" id="username" th:field="*{username}" required>
        <label for="username">username</label>
    </div>
    <br/>
    <div class="form-floating"><input type="password" name="password" class="form-control" id="password" th:field="*{password}" required>
        <label for="password">password</label>
    </div>
    <br/>
        <div class="form-floating mb-3">
            <input type="text" name="address" class="form-control" id="address" th:field="*{address}" required >
            <label for="address">address</label>
        </div>
    <br/>
        <div class="form-floating mb-3">
            <input type="text" name="phone" class="form-control" id="phone" th:field="*{phone}" required>
            <label for="phone">phone</label>
        </div>
    <br/>
        <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="email" th:field="*{email}" required>
            <label for="email">email</label>
        </div>
    <br/>

    <div class="form-check">
        <input th:field="*{role}" value="MANAGER" class="form-check-input" type="radio" name="flexRadioDefault" id="manager" checked />
        <label class="form-check-label" for="manager">
            manager
        </label>
    </div>
    <br/>
    <div class="form-check">
        <input  th:field="*{role}" value="USER" class="form-check-input" type="radio" name="flexRadioDefault" id="client"  checked/>
        <label class="form-check-label" for="client">
            user
        </label>
    </div>
    <br/>
    <div class="form-check">
        <input  th:field="*{role}" value="ADMIN" class="form-check-input" type="radio" name="flexRadioDefault" id="admin" checked />
        <label class="form-check-label" for="admin">admin</label>
    </div>
    <br/>

        <button class="but_login" type="submit">Add</button>
<div/>
</form>
</body>
</html>