<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Display all users</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div th:insert="~{fragments/menu::#_nav_menu}"></div>
<hr/>
<table border="7px" cellspacing="4px" >
    <th>All users table</th>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Password</td>
        <td>Email</td>
        <td>Role</td>
        <td>Address</td>
        <td>Phone</td>
        <td>function</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.username}">Name</td>
        <td th:text="${user.password}">Password</td>
        <td th:text="${user.email}">Email</td>
        <td th:text="${user.role}">Role</td>
        <td th:text="${user.address}">Address</td>
        <td th:text="${user.phone}">Phone</td>
        <td><a th:href="@{/users/delete/{userId}/user(userId=${user.id})}">Delete</a></td>
    </tr>
</table>
<br/>
<div th:insert="~{fragments/menu::#_nav_menu}"></div>
</body>
</html>