<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bucket page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>


<div th:insert="~{fragments/menu::#_nav_menu}"></div>
<hr/>
<div style="display: inline-block;float: left; margin-left: 5px;">



    <table border="2">
        <tr>
            <td>Title</td>
            <td>Amount</td>
            <td>Price</td>
            <td>Sum</td>
            <td></td>
        </tr>
        <tr th:each="detail:${bucket.details}">
            <td th:text="${detail.title}">Title</td>
            <td th:text="${detail.amount}">Amount</td>
            <td th:text="${detail.price}" ?>Price</td>
            <td th:text="${detail.sum}">Sum</td>
            <td><a th:href="@{/buckets/delete/product/{id}(id=${detail.productId})}">Remove</a></td>
        </tr>

    </table>
    <br/>
    <h1>Final sum: <b th:text="${bucket.sum}">1000</b>$</h1>
    <hr/>
    <button type="button" class="form_but">Buy</button>
    <hr/>
</div>

<div class="treasure"><img class="img_treasure" src="/img/treasure.png" alt=""
                           style="width: 50%; height: 50%; display: inline-block"></div>

</body>
</html>