<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error page 500</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div th:insert="~{fragments/menu::#_nav_menu}"></div>
<hr/>
<br/>
<div class="div_all_form">
    <div class="div_h1_all_form">
        <h1 id="h1_all_form">Error page</h1>
    </div>

    <div th:if="${error!=null}">
        <b><h1 th:text="'Something went wrong! Error Details: '+${error}" style="color: darkblue;">
            ErrorMessage </h1></b>
        <hr/>
    </div>

    <br/>

    <div th:if="${errorMessage!=null}">
        <b><h1 th:text="'Something went wrong! Exception details: '+${errorMessage} " style="color: darkgreen;">
            ErrorMessage </h1></b>
        <hr/>
    </div>

</div>
</body>
</html>