<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>E-SHOP</title>
</head>
<body>

<a th:href="@{/users/new}">Add users</a>
<a th:href="@{/login}">Log in</a>
<a th:href="@{/logout}">Log out</a>
<!--{/logout} передается в config для разлогирования-->
</body>
</html>


<!--Это основная страница  где 2 ссылки-->
<!--xmlns:th="http://www.w3.org/1999/xhtml -прописали Thymeleaf-->
<!--xmlns:sec=http://www.w3.org/1999/xhtml -прописали security-->