<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <!-- Correct stylesheet -->
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>

    <!--     Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

</head>

<body>
<!--<div th:insert="~{fragments/menu::#_nav_menu}"></div>-->


<!-- HEADER -->
<header id="header_fragment">
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container" id="header_nav_fragment">
            <ul class="header-links pull-left">
                <li><a href="#" id="get_phone"><i class="fa fa-phone"></i>&#9990; Contact</a></li>
                <li><a href="#" id="get_email"><i class="fa fa-envelope-o"></i>&#128386; Email</a></li>
                <li><a href="#" id="get_address"><i class="fa fa-map-marker"></i>&#128376; Address</a></li>
                <li><a href="#"><i class="fa fa-dollar"></i>&#36; USD</a></li>
                <li><a href="#" class="link_weather"><i></i>&#8451; Weather&#9728;</a></li>

                <li><a sec:authorize="hasAnyAuthority('ADMIN','MANAGER')" th:href="@{/users/get/all}">&rArr;Show all
                    users</a></li>
                <li><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users/new}">&#10070; Add user</a></li>
                <li><a sec:authorize="hasAnyAuthority('ADMIN','MANAGER')" th:href="@{/products/add/form}">&#9776; Add
                    products</a></li>

                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="logout_right">&#10008; Log out
                </a>
                </li>
                <li><a sec:authorize="!isAuthenticated()"
                       th:href="@{/users/get/registration/form}">&#9998;Registration</a></li>

                <li><a href="#" sec:authorize="isAuthenticated()" th:href="@{/users/update}"
                       sec:authentication="principal.username" class="my_account">&#10155; User name </a></li>
                <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="my_account">&#10155;Please: Log
                    in </a></li>


            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!--Hidden elements-->
    <div class="phone_number"><h2 style="color: white">+375333252505</h2></div>
    <div class="email_address"><h2 style="color: white">e-shop@gmail.com</h2></div>
    <div class="address_shop"><h2 style="color: white">Minsk ,Kalinovskogo 111/2</h2></div>
    <!--/Hidden elements-->

    <!-- Bucket and search -->
    <div class="bucket_search">

        <div class="div_img_hotdeal" id="fragment_header_bucket">
            <a href="#"><img class="header_img" alt="icon" src="/img/s-mart.png"></a>
            <a th:href="@{/products/get/phones}"><img class="header_img" src="/img/product07.png"></a>
            <a th:href="@{/products/get/accessories}"><img class="header_img" src="/img/product02.png"></a>
            <a th:href="@{/products/get/tablets}"><img class="header_img" src="/img/product04.png"></a>
            <a th:href="@{/products/get/notebooks}"><img class="header_img" src="/img/product01.png"></a>
            <a th:href="@{/products/get/cameras}"><img class="header_img" src="/img/camera.jpg"></a>
            <a href="#" sec:authorize="isAuthenticated()" th:href="@{/buckets/get}"><img class="header_img"
                                                                                         src="/img/backet.jpg"
                                                                                         alt="icon_bucket">
                <!--                th:text="${amount}"-->
                <div class="counter"><b>Bucket:</b><b><span th:text="${amount}" id="counter_in_bucket"></span></b>
                </div>
            </a>
            <a href="#" sec:authorize="!isAuthenticated()" th:href="@{/login}"><img class="header_img"
                                                                                    src="/img/backet.jpg"
                                                                                    alt="icon_bucket">
            </a>
        </div>


        <div>
            <hr/>
        </div>

        <!-- SEARCH BAR -->
        <div class="header-search" id="fragment_header_search_bar">
            <diV>
                <form th:action="@{/products/search/by/?category={category}&title={title}}" method="GET"
                      style="padding: 0 ; ">
                    <label>
                        <select name="category" class="input-select">
                            <option value="All">All Categories</option>
                            <option value="Phone">Phone</option>
                            <option value="Notebook">Notebook</option>
                            <option value="Laptop">Laptop</option>
                            <option value="Watch">Watch</option>
                            <option value="Accessory">Accessory</option>
                        </select>
                    </label>
                    <label>
                        <input type="text" name="title" class="input_search" placeholder="   Nokia 3310">
                    </label>
                    <button class="search-btn" type="submit">Search</button>
                </form>
            </diV>
        </div>
        <!-- /SEARCH BAR -->

    </div>
    <!-- Bucket -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
    <div class="nav_nav">
        <!-- NAV -->
        <ul class="main-nav nav navbar-nav">
            <li class="active"><a th:href="@{/}">&#10066;Home</a></li>
            <li><a th:href="@{/products/get/products}">&#10066;All products</a></li>
            <li><a href="@{/products/get/laptops}">&#10066;Laptops</a></li>
            <li><a th:href="@{/products/get/phones}">&#10066;Phones</a></li>
            <li><a href="@{/products/get/cameras}">&#10066;Cameras</a></li>
            <li><a href="@{/products/get/accessories}">&#10066;Accessories</a></li>
        </ul>
        <!-- /NAV -->
    </div>
</nav>
<!-- /NAVIGATION -->

<!-- WEATHER -->
<div id="weather_fragment" class="div_weather"><a class="weatherwidget-io"
                                                  href="https://forecast7.com/ru/53d9027d56/minsk/" data-label_1="MINSK"
                                                  data-label_2="WEATHER"
                                                  data-font="Georgia" data-theme="fall-leaves" data-cloudcolor="">MINSK
    WEATHER</a>
    <script>
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = 'https://weatherwidget.io/js/widget.min.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'weatherwidget-io-js');
    </script>
</div>
<!-- /WEATHER -->


<!--products and filter-->
<div class="main_products_flex">

    <!--filter-->
    <div class="index_filter">
        <!-- aside Widget -->
        <div class="aside">
            <h3 class="aside-title">Categories</h3>
            <div class="checkbox-filter">

                <div class="input-checkbox">
                    <input type="checkbox" id="category-1">
                    <label for="category-1">
                        <span></span>
                        LAPTOPS
                        <small>(120)</small>
                    </label>
                </div>

                <div class="input-checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">
                        <span></span>
                        SMARTPHONES
                        <small>(740)</small>
                    </label>
                </div>

                <div class="input-checkbox">
                    <input type="checkbox" id="category-3">
                    <label for="category-3">
                        <span></span>
                        CAMERAS
                        <small>(1450)</small>
                    </label>
                </div>

                <div class="input-checkbox">
                    <input type="checkbox" id="category-4">
                    <label for="category-4">
                        <span></span>
                        ACCESSORIES
                        <small>(578)</small>
                    </label>
                </div>

                <div class="input-checkbox">
                    <input type="checkbox" id="category-5">
                    <label for="category-5">
                        <span></span>
                        WATCHES
                        <small>(120)</small>
                    </label>
                </div>
            </div>
        </div>
        <!-- /aside Widget -->

        <!-- aside Widget -->
        <div class="aside">
            <h3 class="aside-title">Price</h3>
            <div class="price-filter">
                <div class="input-number price-min">
                    <label for="customRange2" class="form-label">Min:</label>
                    <input type="range" class="form-range" min="0" max="5000" step="1" id="customRange2" value="0">
                </div>
            </div>

            <div class="price-filter">
                <div class="input-number price-max">
                    <label for="customRange1" class="form-label">Max:</label>
                    <input type="range" class="form-range" min="0" max="5000" step="1" id="customRange1" value="5000">
                </div>
            </div>
        </div>

        <!-- /aside Widget -->

        <!-- aside Widget -->
        <div class="aside">
            <h3 class="aside-title">Brand</h3>
            <div class="checkbox-filter">
                <div class="input-checkbox">
                    <input type="checkbox" id="brand-1">
                    <label for="brand-1">
                        <span></span>
                        SAMSUNG
                        <small>(578)</small>
                    </label>
                </div>
                <div class="input-checkbox">
                    <input type="checkbox" id="brand-2">
                    <label for="brand-2">
                        <span></span>
                        LG
                        <small>(125)</small>
                    </label>
                </div>
                <div class="input-checkbox">
                    <input type="checkbox" id="brand-3">
                    <label for="brand-3">
                        <span></span>
                        SONY
                        <small>(755)</small>
                    </label>
                </div>
                <div class="input-checkbox">
                    <input type="checkbox" id="brand-4">
                    <label for="brand-4">
                        <span></span>
                        SAMSUNG
                        <small>(578)</small>
                    </label>
                </div>
                <div class="input-checkbox">
                    <input type="checkbox" id="brand-5">
                    <label for="brand-5">
                        <span></span>
                        LG
                        <small>(125)</small>
                    </label>
                </div>
                <div class="input-checkbox">
                    <input type="checkbox" id="brand-6">
                    <label for="brand-6">
                        <span></span>
                        SONY
                        <small>(755)</small>
                    </label>
                </div>
                <div class="input-checkbox">
                    <input type="submit" value="FIND">

                </div>

            </div>


        </div>

    </div>
    <!--/filter-->

    <!-- product -->
    <div class="product">
        <div class="product-img">
            <img src="/img/product03.png" alt="" th:src="*{'data:image/jpeg;base64,'+{products[1].imageProduct}}">
            <div class="product-label">
                <span class="sale">-30%</span>
                <span class="new">NEW</span>
            </div>
        </div>
        <div class="product-body">
            <p class="product-category" th:text="${products[1].category.podCategory}">Category</p>
            <h3 class="product-name"><a th:href="@{/products/get/one/{id}(id=${products[1].id})}"
                                        th:text="${products[1].title}">product name goes here</a></h3>
            <h4 class="product-price" th:text="'$'+${products[1].price}">$980.00</h4>
            <del class="product-old-price" th:with="result=${(products[1].price/100)*70}"><span
                    th:text="${result}">$600.00</span>
            </del>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o">
                    A</i><span class="tooltipp">add to wishlist</span></button>
                <button class="add-to-compare"><i class="fa fa-exchange">
                    C</i><span class="tooltipp">add to compare</span></button>
                <button class="quick-view"><i class="fa fa-eye">
                    Q</i><span class="tooltipp"><a
                        th:href="@{/products/get/one/{id}(id=${products[1].id})}">quick view</a></span></button>
            </div>
        </div>
        <div class="add-to-cart">
            <button class="add-to-cart-btn" th:onclick="addToBucket([[${products[1].id}]])">add to
                bucket</i></button>
        </div>
    </div>
    <!-- product -->
    <div class="product">
        <div class="product-img">
            <img src="/img/product03.png" alt="" th:src="*{'data:image/jpeg;base64,'+{products[0].imageProduct}}">
            <div class="product-label">
                <span class="sale">-30%</span>
                <span class="new">NEW</span>
                <span class="sale"><a class="link_more"
                                      th:href="@{/products/get/one/{id}(id=${products[0].id})}">MORE INF..</a></span>
            </div>
        </div>
        <div class="product-body">
            <p class="product-category" th:text="${products[0].category.podCategory}">Category</p>
            <h3 class="product-name"><a th:href="@{/products/get/one/{id}(id=${products[0].id})}"
                                        th:text="${products[0].title}">product name goes here</a></h3>
            <h4 class="product-price" th:text="'$'+${products[0].price}">$980.00</h4>
            <del class="product-old-price" th:with="result=${(products[0].price/100)*70}"><span
                    th:text="${result}">$600.00</span>
            </del>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to
                            wishlist</span></button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to
                            compare</span></button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick
                            view</span></button>
            </div>
        </div>
        <div class="add-to-cart">
            <button class="add-to-cart-btn" th:onclick="addToBucket([[${products[0].id}]])">add to
                bucket</i></button>
        </div>
    </div>
    <!-- product -->
    <div class="product">
        <div class="product-img">
            <img src="/img/product03.png" alt="" th:src="*{'data:image/jpeg;base64,'+{products[3].imageProduct}}"/>
            <div class="product-label">
                <span class="sale">-30%</span>
                <span class="new">NEW</span>

            </div>
        </div>
        <div class="product-body">
            <p class="product-category" th:text="${products[3].category.podCategory}">Category</p>
            <h3 class="product-name"><a th:href="@{/products/get/one/{id}(id=${products[3].id})}"
                                        th:text="${products[3].title}">product name goes here</a></h3>
            <h4 class="product-price" th:text="'$'+${products[3].price}">$980.00</h4>
            <del class="product-old-price" th:with="result=${(products[3].price/100)*70}"><span
                    th:text="${result}">$600.00</span>
            </del>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to
                            wishlist</span></button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to
                            compare</span></button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick
                            view</span></button>
            </div>
        </div>
        <div class="add-to-cart">
            <button class="add-to-cart-btn" th:onclick="addToBucket([[${products[3].id}]])">add to
                bucket</i></button>
        </div>
    </div>
    <!-- product -->
</div>

<!--red line-->
<div class="div_img_hot_deal"><h1 class="h1_hot_deal">.</h1></div>

<!--img hot_deal-->
<div class="img_hot_dial"></div>
<!--/hot_deal-->

<div class="div_img_hot_deal"><h1 class="h1_hot_deal">.</h1></div>
<!--/red line-->

<!--products2-->
<div class="div_products2">
    <!-- product2 -->
    <div class="product">
        <div class="product-img">
            <img src="/img/product03.png" alt="" th:src="*{'data:image/jpeg;base64,'+{products[2].imageProduct}}">
            <div class="product-label">
                <span class="sale">-30%</span>
                <span class="new">NEW</span>
            </div>
        </div>
        <div class="product-body">
            <p class="product-category" th:text="${products[2].category.podCategory}">Category</p>
            <h3 class="product-name"><a th:href="@{/products/get/one/{id}(id=${products[2].id})}"
                                        th:text="${products[2].title}">product name goes here</a></h3>
            <h4 class="product-price" th:text="'$'+${products[2].price}">$980.00</h4>
            <del class="product-old-price" th:with="result=${(products[2].price/100)*70}"><span
                    th:text="${result}">$600.00</span>
            </del>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o">
                    A</i><span class="tooltipp">add to wishlist</span></button>
                <button class="add-to-compare"><i class="fa fa-exchange">
                    C</i><span class="tooltipp">add to compare</span></button>
                <button class="quick-view"><i class="fa fa-eye">
                    Q</i><span class="tooltipp"><a
                        th:href="@{/products/get/one/{id}(id=${products[2].id})}">quick view</a></span></button>
            </div>
        </div>
        <div class="add-to-cart">
            <button class="add-to-cart-btn" th:onclick="addToBucket([[${products[2].id}]])">add to
                bucket</i></button>
        </div>
    </div>
    <!-- product2 -->
    <div class="product">
        <div class="product-img">
            <img src="/img/product03.png" alt="" th:src="*{'data:image/jpeg;base64,'+{products[4].imageProduct}}">
            <div class="product-label">
                <span class="sale">-30%</span>
                <span class="new">NEW</span>
                <span class="sale"><a class="link_more"
                                      th:href="@{/products/get/one/{id}(id=${products[4].id})}">MORE INF..</a></span>
            </div>
        </div>
        <div class="product-body">
            <p class="product-category" th:text="${products[4].category.podCategory}">Category</p>
            <h3 class="product-name"><a th:href="@{/products/get/one/{id}(id=${products[4].id})}"
                                        th:text="${products[4].title}">product name goes here</a></h3>
            <h4 class="product-price" th:text="'$'+${products[4].price}">$980.00</h4>
            <del class="product-old-price" th:with="result=${(products[4].price/100)*70}"><span
                    th:text="${result}">$600.00</span>
            </del>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to
                            wishlist</span></button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to
                            compare</span></button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick
                            view</span></button>
            </div>
        </div>
        <div class="add-to-cart">
            <button class="add-to-cart-btn" th:onclick="addToBucket([[${products[4].id}]])">add to
                bucket</i></button>
        </div>
    </div>
    <!-- product -->
    <div class="product">
        <div class="product-img">
            <img src="/img/product03.png" alt="" th:src="*{'data:image/jpeg;base64,'+{products[3].imageProduct}}"/>
            <div class="product-label">
                <span class="sale">-30%</span>
                <span class="new">NEW</span>

            </div>
        </div>
        <div class="product-body">
            <p class="product-category" th:text="${products[5].category.podCategory}">Category</p>
            <h3 class="product-name"><a th:href="@{/products/get/one/{id}(id=${products[5].id})}"
                                        th:text="${products[5].title}">product name goes here</a></h3>
            <h4 class="product-price" th:text="'$'+${products[5].price}">$980.00</h4>
            <del class="product-old-price" th:with="result=${(products[5].price/100)*70}"><span
                    th:text="${result}">$600.00</span>
            </del>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to
                            wishlist</span></button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to
                            compare</span></button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick
                            view</span></button>
            </div>
        </div>
        <div class="add-to-cart">
            <button class="add-to-cart-btn" th:onclick="addToBucket([[${products[5].id}]])">add to
                bucket</i></button>
        </div>
    </div>
    <!-- product -->
</div>
<!--/products2-->

<!--google_map-->
<div>
    <div id="_map">
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2488.312569701565!2d27.656037424440353!3d53.93788443439389!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sby!4v1665990083824!5m2!1sru!2sby"
                width="30%" height="20%" style="border:1em; border-radius: 0.2em; padding-top: 0.2em;"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <a name="show_map"></a>
    </div>
</div>
<!--/google_map-->

<!-- NEW DISCOUNTS -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="newsletter">
        <p>Sign Up for the <strong>New Discounts</strong></p>
        <form>
            <input class="input" type="email" placeholder="    Enter Your Email">
            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
        </form>
    </div>
</div>

<!-- /NEWSLETTER -->

<!-- FOOTER -->
<footer id="footer">
    <!-- row -->
    <div class="row_footer">
        <div class="column_footer">
            <div class="div_footer"><h3 class="footer-title">About Us</h3></div>
            <div class="div_footer"><a class="a_footer" href="#">&#128376; Minsk , ul. Kalinovskogo 111/2</a></div>
            <div class="div_footer"><a class="a_footer" href="#">&#9990; +375333252505</a></div>
            <div class="div_footer"><a class="a_footer" href="#">&#128386; e-shop@gmail.com</a></div>
        </div>

        <div class="column_footer">
            <div class="div_footer"><h3 class="footer-title">Categories</h3></div>
            <div class="div_footer"><a class="a_footer" href="#">Laptops</a></div>
            <div class="div_footer"><a class="a_footer" href="#">Smartphones</a></div>
            <div class="div_footer"><a class="a_footer" href="#">Cameras</a></div>
            <div class="div_footer"><a class="a_footer" href="#">Accessories</a></div>
        </div>

        <!--                <div class="clearfix visible-xs"></div>-->

        <div class="column_footer">
            <div class="div_footer"><h3 class="footer-title">Service</h3></div>
            <div class="div_footer"><a class="a_footer"  th:href="@{/users/update}" >&#10155; My Account</a></div>

            <div class="div_footer"><a class="a_footer" href="#"  th:href="@{/buckets/get}">View Bucket</a></div>
        </div>
    </div>
    <!-- /row -->
</footer>
<!-- /FOOTER -->

<script src="/js/script.js"></script>
</body>


</html>


<!--Это основная страница  где 2 ссылки-->
<!--xmlns:th="http://www.w3.org/1999/xhtml -прописали Thymeleaf-->
<!--xmlns:sec=http://www.w3.org/1999/xhtml -прописали security-->


<!--<p>Tasks:
    <span th:each="${index: #numbers.sequence(0, ${foo.tasks.length})}">
        <span th:text="${foo.tasks[index]}"></span>//достать по индексу
    </span>
</p>-->