<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>All products</title>

</head>

<body>
<div th:insert="~{fragments/menu::#_nav_menu}"></div>

<table border="1" align="left">
    <tr>
        <td>Title</td>
        <td>Price</td>
        <td></td>
    </tr>
<!--    через foreach перебираем список-->
    <tr th:each="product : ${products}">

        <td th:text="${product.title}">Phone</td>
        <td th:text="${product.price}">650</td>
        <td ><a th:href="@{/products/{id}/{page}/bucket(id=${product.id},page='products')}">Add to bucket</a></td>
    </tr>
</table>

</body>

</html>