<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Registration-form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<form method="post" th:action="@{/users/update/user}" th:object="${user}" id="_form">
    <input type="hidden" name="_method" value="PUT"/>

    <h1 >Update-form</h1>
    <br/>
    <div class="form-floating mb-3" hidden>
    <input type="text" class="form-control" th:field="*{id}" name="id" id="id" readonly/>
    <label for="id">id</label>
    </div>

    <div class="form-floating mb-3">
    <input type="text" class="form-control" th:field="*{username}" name="username" id="username" required/>
    <label for="username">username (Name Surname ,from 5 to 20 symbols)</label>
    </div>

    <div class="form-floating mb-3">
    <input type="password" class="form-control" th:field="*{password}" name="password" id="password" minlength="4" required/>
    <label for="password">password (min 4 symbols)</label>
    </div>

    <div class="form-floating mb-3">
    <input type="email" class="form-control" th:field="*{email}" name="password" id="email"/>
    <label for="email">email (example@gmail.com)</label>
    </div>

    <div class="form-floating mb-3">
    <input type="text" class="form-control" th:field="*{address}" name="address" id="address"/>
    <label for="address">address (only for deliver ->Minsk region, ul.Kalinina 11/1)</label>
    </div>

    <div class="form-floating mb-3">
    <input type="text" class="form-control" th:field="*{phone}" name="phone" id="phone"/>
    <label for="phone">phone ( +375295557722 )</label>
    </div>
    <br/>

    <button id="_but" type="submit">Update</button>

</form>

<div th:insert="~{parts/menu::#_nav_menu}"></div>
</body>

</html>